# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual Environment
myenv/

# Django
*.sqlite3
db.sqlite3
/static/
media/

# Secret Key
secret_key.py

# IDE
.idea/
.vscode/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db
